In [ ]:
#PYTHON + SQL II

In [1]:
# 游늷 NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python

import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [ ]:
# 游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez.
# Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la 
# tabla. La funci칩n recibir치 como par치metros:
# Contrase침a de la conexi칩n al servidor.
# Query para crear la tabla.

In [2]:
def crear_tabla(contrase침a,query):
    import mysql.connector

    cnx = mysql.connector.connect(user='root', password=contrase침a,
                                host='127.0.0.1', database='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [3]:
# Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:
# idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.
# Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# Talla: es entero, no nula.

crear_tabla('AlumnaAdalab','CREATE TABLE zapatillas(id_zapatillas INT AUTO_INCREMENT NOT NULL, modelo VARCHAR(45) NOT NULL, color VARCHAR(45) NOT NULL, PRIMARY KEY(id_zapatillas));')

MySQLCursor: CREATE TABLE zapatillas(id_zapatillas IN..

In [4]:
# Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:
# # idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
# # Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.
# # Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.
# # Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # Codigo_postal: entero de m치xima longitud 9, no nula.


crear_tabla('AlumnaAdalab',"""CREATE TABLE clientes(
	id_cliente INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    numero_telefono INT(9) NOT NULL,
    email VARCHAR(45) NOT NULL,
    direccion VARCHAR(45) NOT NULL,
    ciudad VARCHAR(45) DEFAULT NULL,
    provincia VARCHAR(45) NOT NULL,
    pais VARCHAR(45) NOT NULL,
    codigo_postal VARCHAR(45) NOT NULL
    );""")

MySQLCursor: CREATE TABLE clientes(
	id_cliente INT A..

In [5]:
# Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:
# # idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
# # Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
# # salario: es decimal, puede ser nula.
# # fecha_incorporacion: es una columna de tipo date, no nula.

crear_tabla('AlumnaAdalab',"""CREATE TABLE empleados(
	id_empleados INT AUTO_INCREMENT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    tienda VARCHAR(45) NOT NULL,
    salario INT DEFAULT NULL,
    fecha_incorporacion DATE NOT NULL,
    PRIMARY KEY (id_empleados)
    );""")

MySQLCursor: CREATE TABLE empleados(
	id_empleados IN..

In [7]:
# Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:
# # idFactura: es una clave primaria de tipo int, autoincremental y no nula.
# # idEmpleado: es una clave for치nea de tipo int, no nula.
# # idCliente: es una clave for치nea de tipo int, no nula.
# # idZapatilla: es una clave for치nea de tipo int, no nula
# # Fecha: es una columna de tipo date, no nula.
# # Total: es decimal, no nula.

crear_tabla('AlumnaAdalab', """CREATE TABLE facturas(
	id_factura INT AUTO_INCREMENT NOT NULL,
    numero_factura VARCHAR(45) NOT NULL,
    fecha DATE NOT NULL,
    id_zapatillas INT NOT NULL,
    id_empleados INT NOT NULL,
    id_cliente INT NOT NULL,
    PRIMARY KEY (id_factura),
	CONSTRAINT `fk_facturas_zapatillas`
		FOREIGN KEY (`id_zapatillas`)
		REFERENCES `zapatillas` (id_zapatillas) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT `fk_facturas_empleados`
		FOREIGN KEY (`id_empleados`)
		REFERENCES `empleados` (id_empleados) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT `fk_facturas_clientes`
		FOREIGN KEY (`id_cliente`)
		REFERENCES `clientes` (id_cliente) ON DELETE CASCADE ON UPDATE CASCADE
	);""")

MySQLCursor: CREATE TABLE facturas(
	id_factura INT A..