In [ ]:
#Python + SQL 1
import mysql.connector

In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)
cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x7fb4292c6700>

In [2]:
#Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. 
# ¿Qué BBDD tenemos en nuestro servidor?

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('bbdd_nba',)
('ej_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('project1',)
('project1_team3',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('world',)
('Zapateria',)

In [3]:

#Empezemos a explorar la BBDD de Northwind. 
# ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. 
# Guarda el resultado de los nombres de la tablas en una lista.


import mysql.connector

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('categories',)
('customer_customer_demo',)
('customer_demographics',)
('customers',)
('employee_territories',)
('employees',)
('order_details',)
('orders',)
('products',)
('region',)
('shippers',)
('suppliers',)
('territories',)

In [4]:
#¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind' ;")

for x in mycursor:
  print(x)

('categories', 'category_id')
('categories', 'category_name')
('categories', 'description')
('categories', 'picture')
('customer_customer_demo', 'customer_id')
('customer_customer_demo', 'customertype_id')
('customer_demographics', 'customer_desc')
('customer_demographics', 'customer_type_id')
('customers', 'address')
('customers', 'city')
('customers', 'company_name')
('customers', 'contact_name')
('customers', 'contact_title')
('customers', 'country')
('customers', 'customer_id')
('customers', 'fax')
('customers', 'phone')
('customers', 'postal_code')
('customers', 'region')
('employee_territories', 'employee_id')
('employee_territories', 'territory_id')
('employees', 'address')
('employees', 'birth_date')
('employees', 'city')
('employees', 'country')
('employees', 'employee_id')
('employees', 'extension')
('employees', 'first_name')
('employees', 'hire_date')
('employees', 'home_phone')
('employees', 'last_name')
('employees', 'notes')
('employees', 'photo')
('employees', 'photo_path')
('employees', 'postal_code')
('employees', 'region')
('employees', 'reports_to')
('employees', 'title')
('employees', 'title_of_courtesy')
('order_details', 'discount')
('order_details', 'order_id')
('order_details', 'product_id')
('order_details', 'quantity')
('order_details', 'unit_price')
('orders', 'customer_id')
('orders', 'employee_id')
('orders', 'freight')
('orders', 'order_date')
('orders', 'order_id')
('orders', 'required_date')
('orders', 'ship_address')
('orders', 'ship_city')
('orders', 'ship_country')
('orders', 'ship_name')
('orders', 'ship_postal_code')
('orders', 'ship_region')
('orders', 'ship_via')
('orders', 'shipped_date')
('products', 'category_id')
('products', 'discontinued')
('products', 'product_id')
('products', 'product_name')
('products', 'quantity_per_unit')
('products', 'reorder_level')
('products', 'supplier_id')
('products', 'unit_price')
('products', 'units_in_stock')
('products', 'units_on_order')
('region', 'region_description')
('region', 'region_id')
('shippers', 'company_name')
('shippers', 'phone')
('shippers', 'shipper_id')
('suppliers', 'adress')
('suppliers', 'city')
('suppliers', 'company_name')
('suppliers', 'contact_name')
('suppliers', 'contact_title')
('suppliers', 'country')
('suppliers', 'fax')
('suppliers', 'home_page')
('suppliers', 'phone')
('suppliers', 'postal_code')
('suppliers', 'region')
('suppliers', 'supplier_id')
('territories', 'region_id')
('territories', 'territory_description')
('territories', 'territory_id')

In [ ]:
# Hagamos unas queries facilitas:

In [10]:
# Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
#fetchone
import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, SUM((unit_price*quantity)/(1+discount)) FROM order_details GROUP BY order_id ORDER BY SUM((unit_price*quantity)/(1+discount)) DESC LIMIT 1;")

for x in mycursor:
  print(x)

(10865, 16428.571428571428)

In [11]:
# Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, SUM((unit_price*quantity)/(1+discount)) FROM order_details GROUP BY order_id ORDER BY SUM((unit_price*quantity)/(1+discount)) DESC;")

for x in mycursor:
  print(x)

(10865, 16428.571428571428)
(10981, 15810.0)
(11030, 13356.42)
(10889, 11380.0)
(10417, 11207.36)
(10817, 11022.999972886957)
(10897, 10835.240000000002)
(10479, 10495.6)
(10540, 10191.7)
(10691, 10164.8)
(10515, 10008.326053323251)
(10372, 9824.960000000001)
(10424, 9577.666666666668)
(10353, 8951.333333333334)
(11032, 8902.5)
(10514, 8623.45)
(10816, 8467.619047619048)
(10360, 7390.2)
(11017, 6750.0)
(10776, 6651.9047619047615)
(10912, 6613.92)
(10607, 6475.400000000001)
(11021, 6433.29)
(10895, 6379.4)
(10612, 6375.0)
(10633, 5637.434733587524)
(10893, 5502.11)
(10351, 5412.004761904762)
(10324, 5390.5216947606805)
(10678, 5256.5)
(10993, 5221.8)
(11072, 5218.0)
(10687, 5209.099999999999)
(10847, 5137.416666666667)
(10430, 5048.666666666667)
(10595, 5040.0)
(10440, 5037.478217065406)
(10634, 4985.5)
(10694, 4825.0)
(10616, 4817.714285714285)
(10979, 4813.5)
(10510, 4710.0763636363645)
(10836, 4705.5)
(11008, 4691.5)
(10666, 4666.9400000000005)
(10329, 4589.9047619047615)
(10841, 4581.0)
(10745, 4529.8)
(10658, 4474.285714285715)
(10953, 4452.380952380952)
(10711, 4451.7)
(10949, 4422.0)
(10990, 4372.608663281663)
(10657, 4371.6)
(11064, 4366.027272727273)
(10762, 4337.0)
(10530, 4180.0)
(10941, 4163.2)
(10518, 4150.05)
(10605, 4120.0)
(10458, 3891.0)
(10451, 3888.5454545454545)
(10401, 3868.6)
(10672, 3851.181818181818)
(10845, 3835.090909090909)
(10305, 3779.0909090909086)
(11056, 3740.0)
(10789, 3687.0)
(10549, 3636.086924903592)
(10252, 3604.190476190476)
(10772, 3603.2200000000003)
(10267, 3601.086931599244)
(10988, 3592.7272727272725)
(10962, 3584.0)
(10861, 3523.4)
(10359, 3480.3809523809523)
(10718, 3463.0)
(10698, 3444.2666666666664)
(10709, 3424.0)
(10339, 3359.2)
(11033, 3265.454545454545)
(10588, 3250.0)
(10801, 3228.6400000000003)
(10524, 3192.65)
(10688, 3190.545454545454)
(10490, 3163.2)
(11053, 3155.6250000000005)
(10802, 3139.0)
(10886, 3127.5)
(10742, 3118.0)
(11039, 3090.0)
(10757, 3082.0)
(10555, 3067.0833333333335)
(10400, 3063.0)
(10854, 3034.782582306238)
(10286, 3016.0)
(10760, 2994.4)
(10852, 2984.0)
(10701, 2930.434757126654)
(10345, 2924.8)
(10938, 2914.0)
(10382, 2900.0)
(10823, 2851.590909090909)
(10561, 2844.5)
(10316, 2835.0)
(11012, 2832.3809523809523)
(10713, 2827.9)
(10546, 2812.0)
(10629, 2775.05)
(10805, 2775.0)
(10987, 2772.0)
(11001, 2769.0)
(10637, 2768.3333333333335)
(10894, 2760.0)
(10298, 2741.4)
(10638, 2720.05)
(10402, 2713.5)
(10302, 2708.7999999999997)
(10393, 2706.08)
(10618, 2697.5)
(10831, 2684.4)
(10455, 2684.0)
(11007, 2633.9)
(10787, 2629.3333333333335)
(10567, 2617.3333333333335)
(10851, 2609.5238095238096)
(10511, 2608.6956294896036)
(10703, 2545.0)
(10465, 2536.272727272727)
(10398, 2526.5454545454545)
(10255, 2490.5)
(10570, 2471.4285714285716)
(10523, 2468.9999999999995)
(10337, 2467.0)
(10340, 2442.285714285714)
(10796, 2430.8166666666666)
(10369, 2417.7599999999998)
(10344, 2408.0)
(10516, 2402.272727272727)
(11031, 2393.5)
(10991, 2391.666666666667)
(10598, 2388.5)
(10522, 2374.8333333333335)
(10948, 2362.25)
(10714, 2352.8)
(10519, 2316.190476190476)
(10746, 2311.7)
(10766, 2310.0)
(10764, 2309.090909090909)
(10670, 2301.75)
(10930, 2288.75)
(10601, 2285.0)
(10804, 2279.9652167863896)
(10583, 2260.5086867599243)
(10855, 2234.065215003781)
(10977, 2233.0)
(10795, 2226.25)
(10533, 2225.67619047619)
(10384, 2222.3999999999996)
(10986, 2220.0)
(10748, 2196.0)
(10290, 2169.0)
(10857, 2164.76)
(11028, 2160.0)
(10575, 2147.4)
(10558, 2142.9)
(10395, 2142.036363636363)
(10413, 2123.2)
(10335, 2121.0)
(10314, 2115.4545454545455)
(10390, 2107.6363636363635)
(10693, 2105.4782476219284)
(10419, 2102.8571428571427)
(10892, 2095.238095238095)
(10573, 2082.0)
(10755, 2078.4)
(10593, 2077.5)
(11068, 2073.739112402269)
(10756, 2072.916666666667)
(10838, 2067.6)
(10361, 2066.909090909091)
(10872, 2063.6190476190477)
(10773, 2061.375)
(10641, 2054.0)
(10964, 2052.5)
(10503, 2048.5)
(10985, 2043.8181818181815)
(10273, 2042.2857142857142)
(10513, 2022.916666666667)
(10452, 2022.1904761904761)
(10431, 2018.4)
(10436, 2014.1818181818178)
(10263, 1992.0)
(10871, 1984.190476190476)
(10877, 1981.3)
(10830, 1974.0)
(11024, 1966.81)
(10541, 1966.181818181818)
(10535, 1960.4545454545455)
(10921, 1936.0)
(10663, 1935.2380952380952)
(10868, 1928.2363636363634)
(10904, 1924.25)
(10342, 1917.3333333333335)
(10747, 1912.85)
(10997, 1904.0)
(10396, 1903.8000000000002)
(10731, 1895.2380952380952)
(10706, 1893.0)
(10294, 1887.6000000000001)
(10327, 1885.4166666666667)
(10249, 1863.4)
(10332, 1861.3333333333333)
(10924, 1853.772727272727)
(10729, 1850.0)
(10406, 1847.8181818181818)
(10449, 1838.2)
(11059, 1838.0)
(10791, 1834.3428571428574)
(10389, 1832.8)
(10814, 1825.1738988506618)
(10537, 1823.8)
(11002, 1822.9565171568997)
(10470, 1820.8)
(10285, 1816.0)
(10418, 1814.8)
(10984, 1809.75)
(10547, 1807.8260811493383)
(10932, 1801.0727272727272)
(10566, 1797.3912902835539)
(10442, 1792.0)
(11041, 1792.0)
(10650, 1781.152380952381)
(10684, 1768.0)
(10399, 1765.6)
(10829, 1764.0)
(10957, 1762.7)
(10309, 1762.0)
(10441, 1755.0)
(11035, 1754.5)
(10971, 1733.0600000000002)
(10536, 1733.0)
(10554, 1732.857142857143)
(11055, 1727.5)
(10420, 1725.090909090909)
(10812, 1707.272727272727)
(10700, 1706.6666666666667)
(10368, 1702.9090909090908)
(10660, 1701.0)
(10551, 1697.999992)
(11036, 1692.0)
(10954, 1691.1739008158788)
(10330, 1686.9565070699432)
(10769, 1685.2142857142858)
(10258, 1682.1666666666667)
(11070, 1661.7391181587902)
(10459, 1660.5714285714284)
(10707, 1649.2173881285444)
(10464, 1649.0666666666666)
(10758, 1644.6)
(10461, 1641.2800000000002)
(10751, 1637.8454545454547)
(10869, 1630.0)
(10346, 1629.090909090909)
(10727, 1628.5714285714284)
(10750, 1627.1738988941397)
(10408, 1622.4)
(10312, 1614.8)
(10667, 1600.8333333333333)
(10485, 1600.0)
(10404, 1595.2380952380952)
(10786, 1594.875)
(10250, 1586.5652042646502)
(10343, 1584.095238095238)
(10457, 1584.0)
(11018, 1575.0)
(10722, 1570.0)
(10880, 1562.5)
(10799, 1557.6086940642722)
(10260, 1552.9599999999998)
(10362, 1549.6)
(10553, 1546.3)
(10918, 1544.0)
(10878, 1542.857142857143)
(10646, 1542.4)
(10475, 1539.8260735667297)
(10543, 1539.1304213988658)
(10645, 1535.0)
(10765, 1530.9090909090908)
(10488, 1520.0)
(10527, 1518.181818181818)
(10784, 1509.130426616257)
(10572, 1506.9545454545453)
(10626, 1503.6)
(10429, 1502.8)
(11023, 1500.0)
(10734, 1498.35)
(10325, 1497.0)
(11046, 1489.5238095238092)
(10278, 1488.8)
(10603, 1484.1904761904761)
(10800, 1483.7727272727273)
(10768, 1477.0)
(10740, 1475.0)
(10481, 1472.0)
(10733, 1459.0)
(10272, 1456.0)
(10253, 1444.8000000000002)
(10808, 1443.4782483175804)
(10686, 1443.45)
(10783, 1442.5)
(10392, 1440.0)
(10834, 1436.3047619047618)
(10617, 1434.7825962192817)
(10649, 1434.0)
(10373, 1423.3333333333335)
(10675, 1423.0)
(10297, 1420.0)
(10283, 1414.8000000000002)
(10499, 1412.0)
(10968, 1408.0)
(10946, 1407.5)
(11022, 1402.0)
(10624, 1393.24)
(10504, 1388.5)
(11052, 1387.5)
(10884, 1381.5238095238096)
(10497, 1380.6)
(10644, 1376.3636363636363)
(10270, 1376.0)
(10989, 1353.6)
(11063, 1352.2727272727273)
(10680, 1346.0)
(10623, 1345.3863636363635)
(10779, 1335.0)
(10635, 1331.1363636363635)
(10978, 1328.9565117829868)
(10471, 1328.0)
(10380, 1323.4545454545455)
(10664, 1318.043466799622)
(11045, 1309.5)
(10728, 1296.75)
(10292, 1296.0)
(10715, 1296.0)
(10665, 1295.0)
(10681, 1291.0)
(11029, 1286.8)
(10717, 1273.654761904762)
(11077, 1272.477236087595)
(10486, 1272.0)
(10619, 1260.0)
(10474, 1249.1)
(10564, 1237.142857142857)
(10388, 1236.3333333333333)
(10712, 1233.7142857142858)
(10659, 1230.095238095238)
(10596, 1230.0833333333333)
(10284, 1226.7)
(10885, 1209.0)
(10421, 1204.5652134124764)
(10999, 1200.952380952381)
(10277, 1200.8)
(10357, 1199.7333333333333)
(10627, 1196.0217351606805)
(10803, 1196.0)
(10995, 1196.0)
(10407, 1194.0)
(10319, 1191.1999999999998)
(10606, 1177.5)
(10526, 1176.52172942155)
(10265, 1176.0)
(10929, 1174.75)
(10866, 1169.28)
(10328, 1168.0)
(10557, 1152.5)
(10859, 1150.6)
(10820, 1140.0)
(10303, 1129.090909090909)
(10370, 1124.9565188960303)
(10919, 1122.8)
(10961, 1120.0)
(10257, 1119.9)
(10966, 1118.9565138177693)
(10846, 1112.0)
(10560, 1109.4)
(10356, 1106.4)
(10590, 1102.8571428571427)
(10837, 1102.4)
(10268, 1101.2)
(10653, 1094.090909090909)
(10749, 1080.0)
(10439, 1078.0)
(10608, 1064.0)
(10387, 1058.4)
(10296, 1050.6)
(10944, 1048.08)
(10472, 1037.4857142857143)
(10444, 1031.7)
(10825, 1030.76)
(11026, 1030.0)
(10423, 1020.0)
(10580, 1016.2857142857142)
(10982, 1014.0)
(10411, 1007.0833333333335)
(10781, 1001.9583333333334)
(10736, 997.0)
(10696, 996.0)
(10326, 982.0)
(10849, 978.8173870537619)
(10469, 978.695643663516)
(10842, 975.0)
(10563, 965.0)
(10304, 954.4)
(10364, 950.0)
(10529, 946.0)
(10994, 942.8571428571428)
(11000, 938.0)
(11027, 936.24)
(11011, 934.7619047619048)
(10338, 934.5)
(10901, 934.5)
(10903, 932.05)
(10828, 932.0)
(10848, 931.5)
(11066, 928.75)
(10721, 926.1904761904761)
(10933, 920.6)
(10671, 920.1)
(10690, 920.0)
(10876, 917.0)
(10833, 916.090909090909)
(10447, 914.4)
(10494, 912.0)
(10976, 912.0)
(10967, 910.4)
(10882, 905.1304299553876)
(10569, 904.5833333333334)
(10630, 904.2857142857142)
(10719, 900.536)
(10383, 899.0)
(10487, 896.78)
(10333, 884.1818181818181)
(10377, 883.4782531871456)
(10902, 883.3043401451796)
(10552, 880.5)
(10692, 878.0)
(10403, 874.695644567864)
(11047, 872.4)
(10379, 872.0)
(10774, 870.0)
(10643, 868.8000000000001)
(10890, 860.1)
(10697, 859.12)
(10911, 858.0)
(11058, 858.0)
(10492, 853.3333333333333)
(10811, 852.0)
(10433, 851.1999999999999)
(10293, 848.7)
(10965, 848.0)
(10835, 846.6666666666666)
(11076, 845.6)
(10827, 843.0)
(10576, 838.45)
(10839, 835.9090909090908)
(10556, 835.1999999999999)
(10367, 834.1999999999999)
(10818, 833.0)
(10287, 832.6956468809074)
(10677, 832.0869492862004)
(10347, 829.2347768831758)
(10525, 820.9090909090909)
(11050, 818.1818181818181)
(10502, 816.3)
(10591, 812.5)
(10611, 808.0)
(10587, 807.38)
(10913, 806.75)
(10931, 804.1304328771266)
(10410, 802.0)
(10685, 801.1)
(10927, 800.0)
(10532, 796.35)
(10958, 781.0)
(10923, 780.0)
(10744, 766.6666666666666)
(10507, 766.304341162571)
(10574, 764.3)
(10621, 758.5)
(10480, 756.0)
(10640, 756.0)
(10301, 755.0)
(10896, 750.5)
(10922, 742.5)
(10790, 739.1304283553875)
(11038, 735.6666666666666)
(10844, 735.0)
(10788, 733.3333333333333)
(10397, 733.2173849285444)
(10597, 731.75)
(10983, 730.7608657542532)
(10826, 730.0)
(10642, 725.0)
(10385, 720.0)
(10416, 720.0)
(10780, 720.0)
(10468, 717.6)
(10975, 717.5)
(10463, 713.3)
(10875, 711.3636363636363)
(10943, 711.0)
(10716, 706.0)
(10264, 699.3913028922495)
(10550, 689.2727272727273)
(10916, 686.7)
(10998, 686.0)
(10821, 678.0)
(10956, 677.0)
(10483, 670.4761904761904)
(10909, 670.0)
(10908, 664.7619047619048)
(10679, 660.0)
(10856, 660.0)
(10726, 655.0)
(10251, 654.8571428571429)
(10939, 652.1739073724008)
(10427, 651.0)
(10858, 649.0)
(10350, 648.5454545454545)
(11020, 646.9565161134216)
(10565, 646.3636363636363)
(11010, 645.0)
(10937, 644.8)
(10269, 643.8095238095239)
(10850, 643.4782552741021)
(10695, 642.0)
(10724, 638.5)
(10647, 636.0)
(10935, 635.6)
(11009, 633.6)
(10435, 631.6)
(10668, 631.590909090909)
(10636, 629.5)
(10853, 625.0)
(11015, 622.35)
(10763, 616.0)
(10493, 614.5454545454545)
(10280, 613.2)
(10879, 611.3)
(10656, 610.3181818181818)
(10813, 610.0)
(10300, 608.0)
(10654, 607.9090909090909)
(10888, 605.0)
(10704, 595.5)
(10584, 595.2380952380952)
(11044, 591.5999999999999)
(10262, 590.8)
(10632, 590.4761904761905)
(10661, 586.0416666666667)
(11005, 586.0)
(10862, 581.0)
(10477, 580.8)
(10498, 575.0)
(10456, 570.4347776483933)
(10669, 570.0)
(10577, 569.0)
(10354, 568.8)
(10622, 567.5)
(10254, 565.5652139342155)
(10594, 565.5)
(10571, 563.2608646672968)
(10942, 560.0)
(10996, 560.0)
(10720, 550.0)
(10735, 541.8181818181818)
(11034, 540.7636363636364)
(10915, 539.5)
(10274, 538.6)
(10914, 537.5)
(10512, 537.3912996748583)
(10676, 534.85)
(10761, 531.5)
(11048, 525.0)
(10500, 524.5714285714286)
(10559, 521.7142857142857)
(10443, 520.8)
(10860, 519.0)
(10256, 517.8)
(10592, 517.7619047619048)
(10315, 516.8)
(10320, 516.0)
(10926, 514.4)
(11061, 510.0)
(11075, 509.56521296030246)
(10689, 504.0)
(10291, 502.54545454545445)
(10639, 500.0)
(10934, 500.0)
(10306, 498.5)
(10562, 493.63636363636357)
(10599, 493.0)
(11016, 491.5)
(10832, 490.75)
(10925, 486.08695229489604)
(11071, 485.71428571428567)
(10730, 485.4761904761905)
(10432, 485.0)
(10355, 480.0)
(10600, 479.8)
(10625, 479.75)
(10289, 479.4)
(10578, 477.0)
(10819, 477.0)
(10936, 475.0)
(10534, 474.31666666666666)
(10438, 472.9166666666667)
(10478, 472.38095238095235)
(10952, 472.15238095238095)
(10542, 470.2857142857143)
(10723, 468.45)
(10806, 466.1)
(10614, 464.0)
(10951, 459.9047619047619)
(10374, 459.0)
(10910, 452.9)
(10489, 451.8)
(10863, 451.3043439017014)
(10628, 450.0)
(10261, 448.0)
(10363, 447.2)
(10798, 446.6)
(10448, 443.4)
(10450, 442.83333333333337)
(10394, 442.0)
(10248, 440.0)
(10974, 439.0)
(10358, 430.4761904761905)
(10906, 427.5)
(10651, 424.32)
(10307, 424.0)
(10609, 424.0)
(11062, 423.33333333333337)
(10276, 420.0)
(10506, 420.0)
(10797, 420.0)
(10544, 417.2)
(10673, 412.35)
(10453, 411.81818181818176)
(11042, 405.75)
(10365, 403.20000000000005)
(10376, 400.0)
(10405, 400.0)
(10792, 399.85)
(10437, 393.0)
(10528, 392.8666666666667)
(10920, 390.0)
(10785, 387.5)
(10484, 386.2)
(10425, 384.0)
(10705, 378.0)
(10682, 375.5)
(10279, 374.4)
(10648, 373.69565166351606)
(10891, 369.8571428571429)
(10348, 367.8260853232514)
(10917, 365.89)
(11013, 361.0)
(10341, 360.3478230926276)
(10732, 360.0)
(10940, 360.0)
(11069, 360.0)
(10539, 355.5)
(10613, 353.6363636363636)
(10517, 352.0)
(10299, 349.5)
(10266, 347.4285714285714)
(10454, 345.0)
(10771, 344.0)
(10905, 342.85714285714283)
(11006, 342.064)
(10426, 338.20000000000005)
(10412, 338.18181818181813)
(10375, 338.0)
(10873, 336.8)
(10310, 336.0)
(10582, 330.0)
(10702, 330.0)
(10794, 327.875)
(10434, 326.1913023879017)
(11003, 326.0)
(10581, 322.9166666666667)
(10652, 321.424)
(10743, 320.0)
(10759, 320.0)
(10409, 319.20000000000005)
(10610, 319.2)
(10579, 317.75)
(10874, 310.0)
(11054, 305.0)
(11073, 300.0)
(11004, 295.38)
(10275, 292.57142857142856)
(10973, 291.55)
(10317, 288.0)
(10336, 288.0)
(10725, 287.8)
(11049, 285.0)
(10864, 282.0)
(10495, 278.0)
(11025, 272.7272727272727)
(10311, 268.79999999999995)
(10960, 267.6)
(11060, 266.0)
(10491, 265.4782585610586)
(10980, 258.33333333333337)
(10752, 252.0)
(10770, 252.0)
(10972, 251.5)
(10824, 250.8)
(10446, 248.7272727272727)
(10548, 247.1)
(11014, 245.6363636363636)
(10945, 245.0)
(10318, 240.4)
(10508, 240.0)
(10739, 240.0)
(10822, 237.89999999999998)
(10741, 237.5)
(10467, 235.2)
(10777, 233.33333333333334)
(10970, 233.33333333333334)
(10604, 233.1818181818182)
(11074, 232.66666666666663)
(10473, 230.39999999999998)
(10775, 228.0)
(10521, 225.5)
(10414, 225.14285714285714)
(10840, 220.0)
(10947, 220.0)
(10466, 216.0)
(10545, 210.0)
(11043, 210.0)
(11065, 202.048)
(10520, 200.0)
(11040, 200.0)
(10428, 192.0)
(10793, 191.1)
(10496, 190.47619047619048)
(10460, 187.84)
(10810, 187.0)
(10313, 182.39999999999998)
(10476, 180.57142857142856)
(10708, 180.4)
(10445, 174.9)
(10843, 169.6)
(10386, 166.0)
(10323, 164.4)
(10655, 160.83333333333334)
(10870, 160.0)
(10462, 156.00000000000003)
(10282, 155.39999999999998)
(10568, 155.0)
(10881, 150.0)
(10501, 149.0)
(10505, 147.89999999999998)
(10482, 147.0)
(10334, 144.8)
(10321, 144.0)
(10585, 142.5)
(10349, 141.60000000000002)
(10809, 140.0)
(10538, 139.8)
(10737, 139.8)
(10352, 138.6086947599244)
(10928, 137.5)
(10509, 136.8)
(10366, 136.0)
(10959, 134.78260752362948)
(10899, 125.21739021550094)
(10662, 125.0)
(10295, 121.6)
(10615, 120.0)
(10699, 114.0)
(10322, 112.0)
(10381, 112.0)
(10531, 110.0)
(10950, 110.0)
(10907, 108.5)
(10969, 108.0)
(10378, 103.19999999999999)
(10415, 102.4)
(10259, 100.8)
(10867, 98.39999999999999)
(10778, 96.5)
(10710, 93.5)
(10308, 88.8)
(10331, 88.5)
(10753, 88.0)
(11067, 86.85000000000001)
(10281, 86.5)
(10391, 86.39999999999999)
(10288, 80.9090909090909)
(10955, 77.5)
(10371, 76.0)
(11019, 76.0)
(10589, 72.0)
(10887, 70.0)
(10992, 69.6)
(10683, 63.0)
(11037, 60.0)
(10963, 59.130434268431)
(10620, 57.5)
(10631, 56.36363636363636)
(10754, 55.199999999999996)
(10738, 52.349999999999994)
(10602, 52.0)
(10422, 49.8)
(10271, 48.0)
(10674, 45.0)
(11057, 45.0)
(10815, 40.0)
(11051, 37.5)
(10883, 36.0)
(10900, 36.0)
(10898, 30.0)
(10767, 28.0)
(10586, 24.347825875236296)
(10807, 18.4)
(10782, 12.5)

In [2]:
# Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.


import mysql.connector
import pandas as pd  #Importamos esta library para poder ibtener los resultados en un Dataframe

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)



sql = "SELECT order_date, COUNT(order_date) FROM orders GROUP BY order_date ORDER BY COUNT(order_date) DESC;"
df = pd.read_sql_query(sql, cnx)
display (df)
#Lo siguiente es un wrap up que funciona tanto con una tabla como con una consulta SQL.
#pd.read_sql(sql, cnx)

#Cerramos la conexion
cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x7fb3408f7400>

    order_date  COUNT(order_date)
0   1998-02-26                  6
1   1998-03-03                  4
2   1998-03-06                  4
3   1998-03-11                  4
4   1998-03-16                  4
..         ...                ...
475 1997-11-26                  1
476 1997-12-01                  1
477 1997-12-04                  1
478 1997-12-09                  1
479 1997-12-12                  1

[480 rows x 2 columns]

In [1]:
# Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.   

import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)



sql = "SELECT orders.order_id, orders.customer_id, orders.order_date, shipped_date,orders.employee_id, employees.first_name, employees.last_name FROM orders INNER JOIN employees ON orders.employee_id= employees.employee_id WHERE orders.employee_id= 1;"
df = pd.read_sql_query(sql, cnx)
display (df)

cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x7fb351db2dc0>

,order_id,customer_id,order_date,shipped_date,employee_id,first_name,last_name
0,10258,ERNSH,1996-07-17,1996-07-23,1,Nancy,Davolio
1,10270,WARTH,1996-08-01,1996-08-02,1,Nancy,Davolio
2,10275,MAGAA,1996-08-07,1996-08-09,1,Nancy,Davolio
3,10285,QUICK,1996-08-20,1996-08-26,1,Nancy,Davolio
4,10292,TRADH,1996-08-28,1996-09-02,1,Nancy,Davolio
...,...,...,...,...,...,...,...
118,11064,SAVEA,1998-05-01,1998-05-04,1,Nancy,Davolio
119,11067,DRACD,1998-05-04,1998-05-06,1,Nancy,Davolio
120,11069,TORTU,1998-05-04,1998-05-06,1,Nancy,Davolio
121,11071,LILAS,1998-05-05,NaT,1,Nancy,Davolio
122,11077,RATTC,1998-05-06,NaT,1,Nancy,Davolio

In [17]:
#Desconexión

import mysql.connector

config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'northwind',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()